body {
  margin: 0 auto;
  width: 500px;
}

p {
  background-color: antiquewhite;
  border: 3px solid black;
  padding: 10px;
  margin: 10px;
}

.paragraph_relative {
  position: relative;
  top: 30px;
  left: 50px;
  background-color: aquamarine;
}
