.main_relative {
  width: 1000px;
  height: 600px;
  background-color: bisque;
  margin-top: 200px;
  position: relative;
}
.main_absolute {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 50px;
  background-color: blue;
}
