@keyframes makeItTaller {
  0% {
    height: 100px;
  }
  50% {
    height: 400px;
  }
  100% {
    height: 100px;
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 400px;
  }
  60% {
    bottom: 0;
  }
  80% {
    bottom: 200px;
  }
  100% {
    bottom: 0;
  }
}

.animation {
  height: 100px;
  width: 100px;
  background-color: red;
  animation: makeItTaller 1s linear infinite;
}

.ball {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 75px;
  position: fixed;
  left: 400px;
  bottom: 0px;
  animation: bounce 4s ease-out infinite;
}

@keyframes trigger {
  0% {
    left: 10px;
  }
  20% {
    left: 0px;
  }
  40% {
    left: -10px;
  }
  60% {
    left: 0;
  }
  80% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}

.button {
  position: relative;
  padding: 20px;
  border-radius: 75px;
  background-color: brown;
  font-size: 20px;
  color: white;
  width: fit-content;
}

.button:hover {
  animation: trigger 200ms linear 1;
}
