.navigation-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(165, 42, 42, 0.774);
	color: white;
	height: 5vh;
}

.links {
	color: white;
	text-decoration: none;
}
